<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Lyric Predictor</title>
  <!-- link is for linking CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel = "stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel = "stylesheet" href="{{ url_for('static', filename='bootstrap-social.css') }}">

    <!-- linking to CSS in standalone HTML document (without flask or jinja) -->
    <!-- <link rel="stylesheet" href="styles.css"> -->

    <i class="fa fa-github"></i>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="http://nicolaiai.pythonanywhere.com/">Lyric Predictor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://github.com/LeanderNicolai/Lyric_Predictor" target="_blank">This Project</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://www.linkedin.com/in/nicolai-vd-laan" target="_blank">The Creator</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/LeanderNicolai" target="_blank"><img src="{{ url_for('static', filename='GH.png') }}" width="30" height="30"></a></img>
          </li>
        </ul>
      </div>
    </nav>
<br>
<br>

    <div class="container">

        <h4>Please enter your lyrics below to find the songname and artist!</h4>


        <br>


  <form action='/results'>
    <div class="form-group">
            <input class = "form-control" name='Movie1' autocomplete='off' placeholder='Enter Lyric 1'><br>
    </div>
    <div class="form-group">
            <input class = "form-control" name='Movie2' autocomplete='off' placeholder='Enter Lyric 2'><br>
    </div>
    <div class="form-group">
            <input class = "form-control" name='Movie3' autocomplete='off' placeholder='Enter Lyric 3'><br>
    </div>
    <button type="submit" class="btn btn-primary">Get Recommendations! </button>
  </form>




<br>
<br>


  <!-- More lines! Yay! -->
  <!-- This is what comments in HTML look like -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
